{% load static i18n %}

<div class="preloader {% if preloader.framed %}framed{% endif %} {% if preloader.backdrop %}backdrop{% endif %} {% if preloader.show %}show{% endif %} {% if not preloader.large %}small{% endif %}"
  style="position: {{ preloader.position }}"
  {% if preloader.id %} id="{{ preloader.id }}"{% endif %}>
  <div class="contents">
    {% block contents %}
    <h1 class="text">
      {% trans "Loading, please wait" %}
      <span class="ellipsis-container">
        <span class="ellipsis-bg">...</span>
        <span class="ellipsis">...</span>
      </span>
    </h1>
    {% endblock contents %}
  </div>
</div>
