-e git+ssh://git@gitlab.groplay.com/groplay/groplay-python.git#egg=groplay_python
beautifulsoup4
Django>=3.2,<4
djangorestframework
ipdb
ipython
isort
mypy>=0.910
Pillow
pyflakes
python-dateutil
types-python-dateutil
