{% load groplay %}
{% comment %}
The required_params and optional_params could already be available in context,
in which they will be injected as data attributes on the modal element.
They can also be filled in some other way, like via openModalOnLoad() which
takes them from GET params.
{% endcomment %}

<div
  class="modal {{ modal.classes }} {% block classes %}{% endblock classes %}"
  id="{{ modal.id }}"
  role="dialog"
  data-required-params="{{ modal.required_params|join:" " }} {% block required_params %}{% endblock required_params %}"
  data-optional-params="{{ modal.optional_params|join:" " }} {% block optional_params %}{% endblock optional_params %}"
  {% for param in modal.required_params|add:modal.optional_params %}
  data-{{ param }}="{% map_to_context param %}"
  {% endfor %}
>
  <div class="modal-dialog{% if modal.scrollable %} modal-dialog-scrollable{% endif %}{% if modal.large %} modal-lg{% endif %}">
    {% block outer %}
    <div class="modal-content">
      {% block content %}
      {% block header %}
      <div class="modal-header">
        <h5 class="modal-title">{% block title %}{% endblock title %}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      {% endblock header %}
      <div class="modal-body">
        <div class="alerts">
          {% block alerts %}{% endblock alerts %}
        </div>
        {% block body %}{% endblock body %}
      </div>
      {% if modal.footer %}
      <div class="modal-footer">{% block footer %}{% endblock footer %}</div>
      {% endif %}
      {% endblock content %}
    </div>
    {% if modal.large %}
    {% preloader %}
    {% else %}
    {% preloader small=True %}
    {% endif %}
    {% endblock outer %}
  </div>
</div>
