{% load i18n groplay %}

<div
  class="modal dynamic-container {{ modal.classes }}"
  id="{{ modal.id }}"
  role="dialog"
  data-loaded="false"
  {% if modal.always_load %}data-always-load="true"{% endif %}
  data-content-url="{{ modal.url }}"
  data-required-params="{{ modal.required_params|join:" " }}"
  data-optional-params="{{ modal.optional_params|join:" " }}"
  {% for param in modal.required_params|add:modal.optional_params %}
  data-{{ param }}="{% map_to_context param %}"
  {% endfor %}
>
  <div class="modal-dialog{% if modal.scrollable %} modal-dialog-scrollable{% endif %}{% if modal.large %} modal-lg{% endif %}">
    <div class="dynamic-content w-100">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mr-auto"></h5>
          <button type="button" class="close ml-3" data-dismiss="modal"><i class="fas fa-xmark"></i></button>
        </div>
        <div class="modal-body">
          <div class="alerts"></div>
        </div>
      </div>
    </div>
    {% if modal.large %}
    {% preloader %}
    {% else %}
    {% preloader small=True %}
    {% endif %}
  </div>
</div>
