{% load i18n groplay %}

<div
  class="modal dynamic-container {{ modal.classes }}"
  id="{{ modal.id }}"
  role="dialog"
  data-loaded="false"
  {% if modal.always_load %}data-always-load="true"{% endif %}
  data-content-url="{{ modal.url }}"
  data-required-params="{{ modal.required_params|join:" " }}"
  data-optional-params="{{ modal.optional_params|join:" " }}"
  {% for param in modal.required_params|add:modal.optional_params %}
  data-{{ param }}="{% map_to_context param %}"
  {% endfor %}
>
  <div class="modal-dialog{% if modal.scrollable %} modal-dialog-scrollable{% endif %}{% if modal.large %} modal-lg{% endif %}{% if modal.center %} modal-dialog-centered{% endif %}">
    <div class="dynamic-content w-100">
      {% include "groplay/modals/dynamic_content.html" %}
    </div>
  </div>
</div>
